.jumbotron {
    background-image: url("https://images.unsplash.com/photo-1489864983806-4d0d07e2d37d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1498&q=80");
    margin-top: 20px;
    background-size: cover;
}

.map{
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    display: flex;
}

.choice{
    border: solid 2px green;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.question{
    font-family: 'Montserrat 600', sans-serif;
    font-size: 25px;
    margin: 20px;
}
