body{
    background-image: url("https://images.unsplash.com/photo-1482093378251-82b99034041a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2934&q=80");



}
.jumbotron,
.header {
    background-color: black;
    margin-top: 20px;
    font-family: 'Petit Formal Script', cursive;
    font-size: 90px;
}

.map{
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    display: flex;
}

.choice{
    border: solid 2px green;
    background-color: darkslategray;
    color: azure;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.question{
    color: azure;
    font-family: 'Montserrat 600', sans-serif;
    font-size: 25px;
    margin: 20px;
}
h2{
    color: azure;
    font-family: 'Montserrat 600', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}
.timer{
    color: azure;
    font-family: 'Montserrat 600', sans-serif;
    font-size: 18px;
}
.quiz{
    background-image: url("https://images.unsplash.com/photo-1476970980147-71209edbfa4f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    background-size: cover;
    padding: 20px;
}
img{
    max-height: 600px;
}

